@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Kalam:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width : 550px) {
    #desktop-filters{
        visibility: hidden;
        position: fixed;
    }
    #desktop-nav{
        visibility: hidden;
        position: fixed;
    }

}
.ratings{
    position: absolute;
    bottom: 18px;
    left: 0.7rem;
    display: inline flex;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    /* padding: 10px; */
    padding-left: 6% ;
    padding-right: 6%;
    border-radius: 32%;
    height: 21px;
    width: 75px;
    font-size: 10px;
    font-weight: 700;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.icon-star{
    width: 7px;
}
.rating-divider{
    width: 1px;
    margin-left:0.1rem;
    /* border: 5px solid black; */
    background-color: #3e41526c;
    height: 100%;

}
.excellent {
    background-image: url(https://constant.myntassets.com/pwa/assets/img/2bce8a2b-e1d5-465a-8980-62f3d778377c1548353615799-Fill-90-Copy-7.png);
    height: 10px; /* or any appropriate value */
    width: 10px; /* or any appropriate value */
}
body{
    display: flex;
    flex-direction: column;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #424553;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}
header{
    z-index: 10;
    padding: 0.4rem;
    position: sticky; 
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:  4px 12px 0px rgba(0,0,0,.05);
}
#back-symbol{
    width: 24rem;
}
#myntra-symbol{
    width: 45rem;
    height: 26px;
}
#main-header-icon{
    display: flex;
    flex-direction: row;
    /* background-color: aqua;  */
    width: 50%;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
}
#main-header-icon h3{
    /* margin-left: 12px; */
    color: #424553;
    font-size: 16px;
    font-family:"Assistant" , serif;
    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}
del{
    color: #bebebf;
}
.ruppeeSVG{
    width: 1px;
    height: 1px;
}
.header-icon{
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 16px 16px 16px 0;
    color: #424553;
    /* align-items: flex-start; */
    /* background-color: aqua; */
    /* height: auto; */
    /* width: 39px; */
}
#header-categories{
    position: fixed;
    visibility: hidden;
}

#header-icons{
    width: 46%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.main-section{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
}
.card{
    
    background-color: white;
    width: 50%;
    cursor: pointer;

}
.card:nth-child(odd){
    border-right: 1px solid rgba(187, 186, 186, 0.456);
}
.prod-img{
    position: relative;
    width: 100%;
}
.prod-img img{
    /* object-fit: cover; */
    width: 100%;
}

.prod-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    /* padding: 8px 0 0 0; */
}
.prod-name h3{
    padding-left: 0.42rem;
    /* padding-bottom: 0.1rem; */
    padding-left: 0.35rem;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.57;
    text-align: left;
    color: #282C3F;
    font-family:"Assistant" , serif;
    width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.price{
    padding-left: 0.35rem;
    /* padding-top: 0; */
    padding-bottom: 1.4rem;
    /* font-size: 0.9rem; */
    font-size: 13px;

}
.card h4{
    padding : 0px 0px 0px 8px;
    /* margin-top: 0.2rem; */
    margin-bottom: 0.2rem;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    height: 12px;
    /* max-width: 180px; */
    color: #282C3F;
    text-overflow: ellipsis;
    opacity: 0.6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#footer-items{
    position: sticky;
    bottom: 0;
    width: 100%;

}
#footer-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.footer-btn-items{

    background-color: white;
    border: none;
    width: 49.5%;
    font-size: 13px;
    /* border-left: 0.3px solid rgba(128, 128, 128, 0.567); */
    display: flex;
    font-weight: 700;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 0px 14px ;
    cursor: pointer;
    color: #424553;
    line-height: 1.42857143;
    font-family: "Assistant", "Segoe UI", Helvetica, Arial, sans-serif;
}

#footer-divider{
    width: 0.01rem;
    height: 22px;
    background-color: #a7a7a750;
}

#filter-cont{
    /* z-index: 4; */
    /* visibility: hidden; */
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13;
    height: 100%;
    width: 100vw;

}

.searchBar{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    background-color: #F4F4F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12px;
    justify-content: space-around;
    border: 1px solid #d4d5d9;
}
#category{
    padding: 10px 13px 10px 8px;
    border:none;
    /* padding: 15px 15px 15px 8px; */
    background-color: #f4f4f5;
    font-size: 12px;
}

#filter-header{
    /* position: fixed;
    left: 0;
    top: 0px; */
    font-size: 14px;
    font-family: "Assistant" , sans-serif;
    /* height: ; */
    font-weight: 700;
    padding: 14px 12px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaec;
}
#filter-header button{
    border: none;
    font-size: 14px;
    color: #FF3E6C;
    opacity: 0.7;
    font-family: "Assistant" , ;
    background-color: white;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 20px 10px 12px;
}
.filters{
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: #F0F0F0;
}
.filters button{
    text-align: center;
}
.categories{
    max-height: 550px;
    overflow-y: auto;
    width: 60%;
}


.filterContClass{
    visibility: hidden;
    width: 100vw;
    height: 100vh;
}
.filter-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}
.left-filter-part{
    /* background-color: #FF3E6C; */
    width: 35%;
    overflow-y: scroll;
}
.left-filter-part ul li{
    color: #3E4152;
    padding-right: 32px;
    padding-left: 32px;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    background-color:#F5F5F6;
    border-bottom: 0.002rem solid #59595c15;
}
.right-filter-part{
    width: 65%;
    /* overflow-y: scroll; */
    /* background-color: green; */
}
.right-filter-part ul li{
    display: flex;
    flex-direction: row;
    /* overflow: scroll; */
    justify-content:space-between;
    align-items: center;
    list-style: none;
    padding: 15px 2px 15px 0px;
    font-size: 14px;
    border-bottom: .5px solid #eaeaec;;
}
.right-filter-part ul{
    width: 89%;
    height: 100%;
    /* align-self: flex-end; */
    margin-left: 0.9rem;
    overflow-y: auto;

}
.right-filter-part ul li span{
    font-size: 10px;
    font-family: "Assistant" , Arial, Helvetica, sans-serif;
    color: #94969F;
    margin-right: 12px;
}
.searchBar input{
    padding: 10px 10px 0 26px;
}
.searchBar ::placeholder{
    color: #94969F;
    font-size: 12px;
    padding-left: 0px;
    /* line-height: 1rem; */

}
.filterValue{
    padding-left: 12px;
}
.checkboxIndicator:after{
    content: "R";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 5px;
    border-color: #bfc0c6;
    border-style: none none solid solid;
    border-width: 1px;
    transform: rotate(-45deg); 
}
#part4{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 5;
}
#part4 button{
    cursor: pointer;
    padding: 17px;
    width: 40%;
    /* gap: 40px; */
    background-color: white;
}
.allbtnsort{
    display: flex;
    flex-direction: column;

}


.btnsort{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    gap: 20px;
}
.btnsort button{
    border: none;
    background-color: unset;
    padding: 7.5px 0;
    font-size: 14px;
    color: gray;
    cursor: pointer;
} 
.animateit{

    animation-name: popup;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}
.animate1{
    animation-name: popup1;
    animation-duration: 0.5s;
}
#sort-cont{
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 100vh;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(170, 145, 145, 0.234);
    
}
@keyframes popup {
    from{
        top: 100vh;
    }
    to{
        top: 0vh;
    }
}
@keyframes popup1 {
    from{
        background-color: rgba(0, 0, 0, 0);
    }
    to{
        background-color: rgba(0, 0, 0, .5);
    }
}
#emptyarea{
    background-color: rgba(0, 0, 0, .5);
    height: 65%;
}
#area{
    height: 35%;
    background-color: white;
}
#sort-cont li{
    margin-top: 10px;
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    color: #3E4152;
    margin: 0px 10px;
    border-bottom: 0.01rem solid rgba(0, 0, 0, .1);
    padding: 15px 0px 8px 12px;
    font-family: "Assistant" , cursive;
}

@media screen and (min-width : 550px) {
    #footer-items{
        visibility: hidden;
    }
    #desktop-nav{
        visibility: visible;
    }
    .desktop-brand-categories input{
        width: 16px;
        height: 16px;
        margin-right: 12px;
    }
    .desktop-brand-categories label{
        font-size: 13px;
    }
    .desktop-brand-categories div{
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        /* gap: 2px; */
    }
    #desktop-brands{
        margin-bottom: 12px;
    }
    #search-bar-filter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #desktop-cont{
        /* padding: 1rem; */
        display: flex;
        width: 100vw;
        flex-direction: row;
        justify-content: space-around;
        height: 90vh;
    }
    #desktop-filters{
        width: 30%;
        height: 100%;
        padding: 0.6rem;
    }
    .main-section{
        width: 117%;
        background-color: #3E4152;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0;
        /* padding: 10px; */
        background-color: white;

    }
    .card{
        margin: 0px 10px 30px ;
        width: 210px;
        text-align: left;
        display: inline-block;
        border: none;
        /* box-sizing: border-box; */
    }
    .card:hover{
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        
        height: 80px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, .05);
    }
    #header-categories{
        width: 50%;
        /* gap: 12px; */
        visibility: visible;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        /* gap: 12px; */
    }
    #header-categories li{
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
    }
    #back-symbol{
        position: fixed;
        visibility: hidden;
    }
    #myntra-symbol{
        width: 75px;
        height: auto;
    }
    #main-header-icon h3{
        position: fixed;
        visibility: hidden;
    }
    #header-icons{
        position: fixed;
        visibility: hidden;
    }

}